* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  margin: 50px;
  padding: 30px;
  height: auto;
  background-color: #7c3e66;
  border-radius: 30px;
  width: 40%;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #a5becc;
  padding: 10px;
  border-radius: 10px;
  width: calc(50% - 10px);
  height: 200px;
  position: relative;
}

.icon {
  width: 30px;
  height: 30px;
  background-color: #f2ebe9;
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 50%;
}

.svg {
  width: 80px;
  height: 80px;
  background-color: #243a73;
  margin-bottom: 10px;
}

.text {
  color: #243a73;
}
