body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  background-color: #555;
  padding: 5rem;
  border-radius: 20px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content .span1,
.content .span2,
.content .span3 {
  background-color: #fff;
  border-radius: 50%;
  padding: 30px;
  margin: 20px;
}

.content .span2-content {
  border: 3px solid #fff;
  border-radius: 50%;
}
